{% extends "base.html" %}

{% load static %}

{% block styles %}
<style type="text/css" media="screen">    
    .gradient {
        background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.6)),
        url('{% static "images/hero_1.jpg" %}');
        background-position: top;
        background-size: cover;
        background-repeat:  no-repeat;
        width: 50%;
        overflow: hidden;
      }
</style>
{% endblock styles %}

{% block body %} 
<body class="flex justify-between h-screen">

    {% block nav %} {% include "core/_nav.html" %} {% endblock nav %} 
   
    {% block content %}
    <main class="mx-auto flex flex-col h-full justify-center items-center" id="main">
    {% block main %}{% endblock main %}
    </main>
    
    {% block aside %}
    <section class="gradient hidden lg:block" id="aside"></section>
    {% endblock aside %}
    
    {% endblock content %}

    {% block footer %}{% endblock footer %}
    {% block scripts %}
    {{ block.super }}
    {% endblock scripts %}
</body>
{% endblock body %}
