{% extends "base.html" %}

{% load static %}

{% block styles %}
<style type="text/css" media="screen">    
    .gradient {
        background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.6)),
        url('{% static "images/hero_1.jpg" %}');
        background-position: top;
        background-size: cover;
        background-repeat:  no-repeat;
      }
</style>
{% endblock styles %}

{% block body %} 
<body>
    {% block content %}
    <main> 
        {% block main %}{% endblock main %}
    </main>
    {% block aside %}
    <section class="w-full gradient hidden lg:block" id="aside"></section>
    {% endblock aside %}
    {% endblock content %}

    {% block footer %}{% endblock footer %}
    {% block scripts %}{% endblock scripts %}
</body>
{% endblock body %}
