{% extends "account/base_account.html" %}
{% load static %}
{% load tailwind_filters %}

{% block styles %}
<style type="text/css" media="screen">    
  .gradient {
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.6)),
    url('{% static "images/hero_1.jpg" %}');
    background-position: top;
    background-size: cover;
    background-repeat:  no-repeat;
  }
</style>
{% endblock styles %}

{% block title %} Log in - Savorcakes Academy {%endblock title %} 


{% block main %}
<div class="flex mx-4 justify-between h-screen">
  <section class="w-full" id="main">
      <div class="flex flex-col h-full justify-center items-center">
    
    <h2 class="text-2xl">Log in</h2>
    <p class="text-sm">don't have an account? <a class="underline" href="{% url "account_signup" %}">create an account</a></p>
    <form action="" method="POST" accept-charset="utf-8">
      {%csrf_token%}
      {{ form|crispy }}
      <button class="py-1 px-6 bg-purple-600 rounded-full shadow
          hover:bg-purple-500 text-white focus:ring ring-purple-400 mr-1 w-full">Log in &rarr;</button>
    </form>
      </div>
  </section>
  <section class="w-full gradient" id="aside">
  </section>
</div>
{% endblock main %}
