{% extends "account/base.html" %}

{% load static %}
{% load tailwind_filters %}

{% block head_title %} Log in {% endblock head_title %} 


{% comment %} {% block main %}

<h2 class="text-2xl">Log in</h2>
<p class="text-sm">don't have an account? <a class="underline" href="{% url "account_signup" %}">create an account</a></p>
<form action="" method="POST" accept-charset="utf-8">
  {%csrf_token%}
  {{ form|crispy }}
  <button class="py-2 px-6 bg-purple-600 rounded-full shadow
      hover:bg-purple-500 text-white focus:ring ring-purple-400 mr-1 w-full">Log in &rarr;</button>
</form>

{% endblock main %} {% endcomment %}

{% block main %}
<p class="text-center text-3xl">Welcome.</p>
<form class="flex flex-col pt-3 md:pt-8" method="POST">
    {% csrf_token %}
    <small class="text-red-500 font-italics">{{ form.non_field_errors }}</small>
    <div class="flex flex-col pt-4">
        <label for="email" class="text-lg">Email</label>
        <small class="text-red-500 italic">{{ form.login.errors }}</small>
        <input required type="email" id="email" name="login" placeholder="your@email.com" class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline {% if form.login.errors %}border-red-600{% endif %}">
    </div>

    <div class="flex flex-col pt-4">
        <label for="password" class="text-lg">Password</label>
        <small class="text-red-500 italic">{{ form.password.errors }}</small>
        <input required type="password" name="password" id="password" placeholder="Password" class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline {% if form.password.errors %}border-red-600{% endif %}">
    </div>

    <button class="py-2 px-3 text-lg bg-purple-600 rounded-full shadow hover:bg-purple-500 text-white focus:ring ring-purple-400 mt-8">Log in &rarr;</button>
</form>
<div class="text-center py-6">
    <p>Don't have an account? <a href="{%url "account_signup" %}" class="underline font-semibold">Sign up here.</a></p>
</div>
{% endblock main %}