{% extends "base.html" %}

{% block head_title %} {{course.title}} {% endblock head_title %}

{% block styles %}
    <style>
        .header {
            height: 50vh;
            overflow:  hidden;
        }
    </style>
{% endblock styles %}

{% block header %}
<header class="px-12 py-6 header bg-gradient-to-br from-purple-500 to-purple-600 flex flex-col text-white">
    <h1 class="my-2 font-bold text-white uppercase">
        {{ course.title }}
    </h1>
    <p>
    <span> {{ course..overview }} </span> <br>
    <span> Lessons: {{ course.lessons.all.count }} </span>
    </p>
    
    {% with course.lessons.all|first as l  %}    
    <a href="{{ l.get_absolute_url}}">Go to lesson</a>
    {% endwith %}

</header>
{% endblock header %}

{% block main %}
<div>
   <p>This is a course, tell some story story here...</p>
</div>
{% endblock main %}
