{% extends "base.html" %}

{% load core_tags %}
{% load thumbnail %}

{% block head_title %} {{course.title}} {% endblock head_title %}

{% block styles %}
    <style>
  
        .header {
            height: 65vh;
            background-image: linear-gradient(to right, hsla(263, 55%, 52%, 0.6), hsla(263, 55%, 52%, 0.5));
            background-position: center;
            background-size: cover;
            background-repeat:  no-repeat;
            background-color: var(--moderate-violet);
        }
    </style>
{% endblock styles %}



{% block header %}
<header class="px-12 py-6 header flex flex-col text-white relative">
    <h1 class="my-4 font-bold text-white uppercase">
        {{ course.title }}
    </h1>
    <div>
        {% with count=course.lessons.all.count %}
        <span> {{ count }} Lesson{{count|pluralize }} </span>
        {% endwith %}
    </div>
    
    <div class="my-2 lg:w-2/3">
        <p class=""> {{ course.overview|linebreaks }} </p>
    </div>

    <div class="hidden lg:block overflow-hidden z-40 md:w-96 absolute lg:right-12 lg:top-20 shadow-md rounded-md bg-white text-black">
       {% comment %} replace with preview video {% endcomment %}
        {% thumbnail course.thumbnail 400x280 crop as thumb %}
        <div class="max-h-56 overflow-hidden">
            <img class="block min-w-full" src="{{thumb.url}}" alt="course image" width="{{thumb.width}}"  height="{{ thumb.height }}">
        </div>
       
        <div class="px-8 p-4">
            <p class="mb-4 text-gray-800">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod cillum dolore eu fugiat nulla pariatur</p>
            <p class="text-right font-semibold text-lg px-4 my-2"> ${{ course.price }}</p>
            
            {% call_method user "is_enrolled" course.id as is_enrolled %}
            {% if is_enrolled %}
            <a href="{{course.last_lesson.get_absolute_url}}" class="px-8 py-2 rounded-full shadow-md focus:ring-2 focus:ring-green-400 bg-green-600 hover:bg-green-500 text-white text-center font-semibold cursor-pointer mx-auto block w-full"
            > Resume course </a>
            {% else %}
            <form  method="POST" action="{% url 'courses:buy_course' course.id %}">
                {% csrf_token %}
                <button class="px-8 py-2 rounded-full shadow-md focus:ring-2 focus:ring-green-400 bg-green-600 hover:bg-green-500 text-white text-center font-semibold cursor-pointer mx-auto block w-full"
                > Buy </button>
            </form>
            {% endif %}
        </div>
    </div>
</header>
{% endblock header %}

{% block main %}
<section class="md:mt-20">
    <h3 class="font-semibold mb-4 text-xl">Skills you will learn</h3>
    <ul>
        <li>water</li>
        <li>water</li>
        <li>water</li>
        <li>water</li>
    </ul>
</section>

<section>
    <h3 class="font-semibold mb-4 text-xl">Who should take this course</h3>
    <ul>
        <li>water</li>
        <li>water</li>
        <li>water</li>
        <li>water</li>
    </ul>
</section>

<section class="mt-8">
    <h3 class="font-semibold mb-4">
        <span> Course outline </span>
    </h3>
    <ul>
        {% for lsn in course.lessons.all %}
            <li>{{ lsn.title }}</li>
        {% endfor %}
    </ul>
</section>
{% comment %} 
Why you should take this course
Your instructor?
Review section
Related courses

{% endcomment %}



<div class="lg:hidden bg-white px-8 py-4 shadow-md fixed bottom-0 left-0 z-50 w-full">
{% call_method user "is_enrolled" course.id as is_enrolled %}
    {% if is_enrolled %}
    <a href="{{course.last_lesson.get_absolute_url}}" class="px-8 py-2 rounded-full shadow-md focus:ring-2 focus:ring-green-400 bg-green-600 hover:bg-green-500 text-white text-center font-semibold cursor-pointer mx-auto block w-full"
    > Resume course </a>
    {% else %}
    <p class="mb-2 text-right font-semibold">${{ course.price }}</p>
    <form method="POST" action="{% url 'courses:buy_course' course.id %}">
        {% csrf_token %}
        <button class="px-8 py-2 rounded-full shadow-md focus:ring-2 focus:ring-green-400 bg-green-600 hover:bg-green-500 text-white text-center font-semibold cursor-pointer mx-auto block w-full"
        > Buy </button>
    </form>
    
    {% endif %}
</div>

{% endblock main %}