{% extends "base.html" %}
{% load static %}
{% block head_title %} About us {% endblock head_title%}

{% block styles %}
<style>
  .header { 
      height: 70vh;
  }
</style>
{% endblock styles %}

{% block header %}
<header class="header bg-purple-900 text-white flex flex-col justify-center items-center mb-6 md:mb-8 w-full">
<h1 class="text-5xl font-bold uppercase text-center">About us</h1>
</header>
{% endblock header%}

{% block main %}
<p class="my-2">
    {% lorem 1 b random %}
</p>
{% endblock main %}
