{% extends "base.html" %}
{% load static %}
{% block head_title %} About us {% endblock head_title%}

{% block styles %}
<style>
  .gradient {
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.6)),
    url('{% static "images/hero_1.jpg" %}');
    background-position: top;
    background-size: cover;
    background-repeat:  no-repeat;
  }
  .header { 
      height: 50vh;
  }
</style>
{% endblock styles %}

{% block header %}
<header class="header gradient text-white flex flex-col justify-center items-center mb-6 md:mb-8 w-full">
<h1 class="text-5xl font-bold uppercase text-center">About us</h1>
</header>
{% endblock header%}

{% block main %}
<p class="my-2">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, enim
    laborum iusto dignissimos. Sint enim excepturi dolorum rem repellendus sit
    voluptatem est aspernatur maxime nisi. Quos provident, possimus hic quae!
</p>
{% endblock main %}
