{% extends "base.html" %}

{% block head_title %} Dashboard {% endblock head_title%}

{% block main %}
<section class="mb-8">
    <h2 class="mb-4 font-semibold text-lg">Registered courses</h2>

    {% for course in enrolled_courses %}
    <div class="grid grid-cols-3 gap-16">
       {% include "courses/_card.html" %} 
    </div>
    {% empty %}
    <p>You have not enrolled for any course, visit our  <a class="underline hover:text-purple-600" href="{% url "courses:list" %}">courses</a> page to select a course.</p>
    {% endfor %}
</section>


<section>
    <h2 class="mb-4 font-semibold text-lg"> Recommended courses </h2>
    {% for course in recommended_courses %}
    <div class="grid grid-cols-3 gap-16">
       {% include "courses/_card.html" %} 
    </div>
    {% empty %}
    <p>No recommended course</p>
    {% endfor %}
</section>
{% endblock main %}
