{% extends "base.html" %}
{% load core_tags %}
{% load static %}

{% block head_title %} Dashboard {% endblock head_title%}

{% block main %}

<div class="flex flex-col md:flex-row items-center mb-4 pb-4">
    <div class="flex md:ml-auto md:mr-4 item-center text-center flex-col md:mb-0 mb-4">
        <strong class="font-semibold">{{ user.email }}</strong>
    </div>

    <div class=""><a href="{% url 'profile' %}" class="py-2 px-6 bg-purple-600 rounded-full shadow hover:bg-purple-500 text-white focus:ring ring-purple-400">Edit profile</a></div>
</div>


<section class="mb-8">
    <h2 class="mb-4 font-semibold text-xl">In Progress</h2>

    {% if enrolled_courses %}
    {% include "courses/_card_list.html" with courses=enrolled_courses %}
    {% else %}
     <div>You have not enrolled for any course, visit our  <a class="underline hover:text-purple-600" href="{% url "courses:list" %}">courses</a> page to select a course.</div>
    {% endif %}
</section>


<section>
    <h2 class="mb-4 font-semibold text-xl"> Recommended courses </h2>

    {% if recommended_courses %}
    {% include "courses/_card_list.html" with courses=recommended_courses %}
    {% else %}
    <p>No recommended course</p>
    {% endif %}
</section>
{% endblock main %}
