{% extends "base.html" %}

{% block head_title %} Make Payment {% endblock head_title %}


{% block main %}

{% if course %}
<h1 class="mb-6 font-semibold text-2xl">Pay for course "{{ course.title }}"</h1>
{% endif %}

<p class="mb-4">Price <strong>{{ course.price }}</strong></p>

<form>
  <button class="
        px-8
        py-2
        rounded-full
        shadow-md
        focus:ring-2
        focus:ring-purple-400
        bg-purple-600
        hover:bg-purple-500
        text-white
        cursor-pointer
        mx-auto" 
        type="button" onClick="makePayment()">Pay Now</button>
</form>
{% endblock main %}


{% block scripts %}
<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>
  function makePayment() {
    FlutterwaveCheckout({
      public_key: "{{ public_key }}",
      tx_ref: "{{ tx_ref }}",
      amount: {{ course.price }},
      currency: "NGN",
      payment_options: "card",
      redirect_url: '{% url "payments:callback" %}',
      customer: {
        email: "{{ user.email }}",
        phone_number: "08102909304",
        name: "{{ user.get_full_name }}",
      },
      callback: function (data) { // specified callback function
        console.log(data);
      },
      customizations: {
        title: "{{ payment_info.title }}",
        description: "{{ payment_info.description }}",
        logo: "https://picsum.photos/200",
      },
    });
  }
</script>
{% endblock scripts %}
