{% extends "base.html" %}

{% block head_title %} {{lesson.title }} {% endblock head_title %}

{% block styles %}
    <style>
        .outline-box {
            flex: 0 0 25%;
        }

        .video-section {
            height: 75vh;
        }
    </style>
{% endblock styles %}

{% block content %}
<div>
    <section class="flex video-section">
        <div class="bg-gray-900 h-full flex-1">
            <video class="block h-full w-full" preload="none" autoplay="autoplay" controls>
                <source src="{{ lesson.url }}" type="video/mp4" media="video/mp4">
            </video>
        </div>
        
        <div class="border border-purple-600 outline-box">
            <h3 class="font-semibold bg-gray-200 py-2 px-4"> Lessons </h3>
            <ul class="px-4">
             {% for lsn in lesson.course.lessons.all %}
                <li class="py-4">
                    <input type="radio"> 
                    <span> {{ lsn.title }}</span>
                </li>
             {% endfor %}
            </ul>
        </div>
         
    </section>


    <section class="px-8">
        <h3 class="font-semibold mb-4">Overview</h3>
        <p>{{ lesson.overview|linebreaks }}</p>
    </section>
</div>
{% endblock content %}
