{% extends "base.html" %}

{% block head_title %} {{lesson.title }} {% endblock head_title %}

{% block styles %}
    <style>
        .outline-box {
            flex: 0 0 25%;
        }

        .video-section {
            height: 75vh;
        }
    </style>
{% endblock styles %}

{% block content %}
<div class="mb-8">
    <section class="flex video-section mb-8">
        <div class="bg-gray-900 h-full flex-1">
            <video class="block h-full w-full" preload="none" autoplay="autoplay" controls>
                <source src="{{ lesson.url }}" type="video/mp4" media="video/mp4">
            </video>
        </div>
        
        <div class="shadow outline-box overflow-y-scroll">
            <h3 class="font-semibold bg-gray-200 py-2 px-4"> Lessons </h3>
            <ul class="">
             {% for lsn in lesson.course.lessons.all %}
                <li class="px-4 text-lg py-4 font-semibold border-b-2 border-purple-600">
                    <input type="checkbox"> 
                    <span class="px-4"> {{ lsn.title }}</span>
                </li>
             {% endfor %}
            </ul>
        </div>
         
    </section>


    <section class="mx-8 rounded shadow overflow-hidden">
        <div class="flex justify-between px-12 py-4 bg-purple-200">
            <h3 class="font-semibold">Overview</h3>
            <h3 class="font-semibold">Resources</h3>
            <h3 class="font-semibold">Notes</h3>
        </div>
        <div class="px-8 py-4 bg-purple-50 text-gray-900">
            <p>{{ lesson.overview|linebreaks }}</p>
        </div>
        
    </section>
</div>
{% endblock content %}
