{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} Home {% endblock title %} &ndash; Bakeademy</title>
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	{% block styles %} {% endblock styles %}
</head>

{% block body %}
<body class="min-h-screen bg-gray-100">
	{% include "_header.html" %}
	{% block content %}
	{% endblock content %}
	{% include "_footer.html" %}
</body>
{% endblock body %}
</html>