{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block head_title%} {% endblock head_title %} &ndash; Savorcakes
            Academy
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        {% block styles %}{% endblock styles %}
        <style type="text/css" media="screen">
           body { 
               font-family: 'Lato', sans-serif;
               background-color: #fafafa; 
           }
           .global-footer {
               background: linear-gradient(#041830,#080117);
               color: #fff;
               position: relative;
               padding: 90px 45px;
           }
        </style>
    </head>

    <body class="min-h-screen flex flex-col justify-between text-gray-800 pt-12">
        {% block nav %} {% include "core/_nav.html" %} {% endblock nav %} 
        {% block header %}{% endblock header %} 
        {% block content %}
            <main class="my-8 mx-12">{% block main %}{% endblock main %}</main>
        {% endblock content %}
        {% block footer %} {% include "core/_footer.html" %}  {% endblock footer %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
