{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title%} {% endblock head_title %} &ndash; {{ site_name }}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% block styles %}{% endblock styles %}
</head>
<body class="min-h-screen flex flex-col bg-gray-50 text-gray-800 pt-12">
    {% block nav %}
      {% include "core/_nav.html" %}
    {% endblock nav %}

    {% block header %}{% endblock header %}

    {% block content %}
    <main class="my-8 mx-12">
        {% block main %}{% endblock main %}
    </main>
    {% endblock content %}

    {% block footer %}{% endblock footer %}

    {% block scripts %}{% endblock scripts %}
</body>
</html>
