{% extends "base.html" %}
{% load static %}
{% block styles %}
<style type="text/css">
	.hero {
		height: 80vh;
		background-image: linear-gradient(
				to right,
				hsla(0, 0%, 0%, 0.8),
				hsla(0, 0%, 0%, 0.9)
			),
			url('{% static "images/hero-lq.jpg" %}');
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
	}
	.card-4 {
		flex-basis: 24%;
		margin-bottom: 8px;
	}
	.card-4:not(:nth-child(4n + 0)) { margin-right: 8px; }
	.card-3 {
		flex-basis: 32%;
		margin-bottom: 16px;
	}
	.card-3:not(:nth-child(3n + 0)) { margin-right: 16px; }
</style>
{% endblock styles %}

{%block content%}
<main>
	<section class="hero flex flex-col justify-center items-center">
		<h1 class="uppercase text-gray-100 mb-6 text-center leading-10">
			<span class="block text-5xl mb-4 font-bold">Bakeademy</span>
			<span class="block text-xl tracking-widest">Your online baking academy.</span>
		</h1>
		<a href="/" class="py-3 px-9 bg-purple-900 text-gray-100 font-medium rounded-lg hover:bg-purple-800 shadow">Explore courses</a>
	</section>

	<section class="p-12">
		<div class="max-w-2xl space-y-6">
			<h2 class="text-purple-900 mb-6 uppercase text-4xl leading-4">
				Welcome to bakedemy
			</h2>
			<p class="text-gray-900">
				Bakeademy is an online learning platform for baking
				enthusiasts and home bakers, join today and take your baking
				skills to the next level. We provide the best online course to take you from amateur to professional baker.
			</p>
			<p class="">
				We have a membership program where Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Itaque sapiente debitis sequi, nostrum, et consequatur numquam corrupti qui veritatis, ullam nam voluptates molestiae repudiandae illum magni mollitia nesciunt sed animi!
			</p>
		</div>
	</section>

	<section class="p-12 bg-white">
		<h3 class="text-purple-900 mb-16 uppercase text-center text-3xl leading-4">
			Explore Featured courses
		</h3>
		{% include "courses/_course_list.html" %}
	</section>

	<section class="px-48 py-12 bg-gradient-to-b from-purple-700 to-purple-900 text-gray-100">
		<h3 class="mb-16 uppercase text-center text-3xl leading-4">
			Join our membership program
		</h3>
		<div>
			<p>We have membership</p>
		</div>
	</section>

	<section class="p-12 text-gray-900">
		<h3 class="text-center mb-16 uppercase text-purple-900 text-3xl leading-4">
			Testimonials from members
		</h3>
		<div class="flex flex-wrap -mx-2 mx-auto w-full">
			<div
				class="card-3 px-8 h-48 rounded bg-white shadow hover:shadow-xl"
			></div>
			<div class="card-3 px-8 h-48 rounded bg-white shadow"></div>
			<div class="card-3 px-8 h-48 rounded bg-white shadow"></div>
			<div class="card-3 px-8 h-48 rounded bg-white shadow"></div>
			<div class="card-3 px-8 h-48 rounded bg-white shadow"></div>
		</div>
	</section>

	<section class="bg-gradient-to-br from-gray-200 to-gray-400 p-12 text-gray-900 rounded-lg mx-24 my-12 flex flex-col items-center justify-center">
		<h3 class="mb-6 uppercase text-purple-900 text-3xl leading-4">
			Join our newsletter
		</h3>
		<p class="">
			Join our mailing list to receive latest information about our
			upcoming classes and promotions
		</p>
		<form action="" method="post" class="mx-auto w-1/2 md:flex flex-col space-y-4">
			{% csrf_token %}
			<input
				class="rounded-lg bg-gray-200 shadow border py-2 px-4 outline-none focus:ring ring-gray-600"
				type="text"
				name="name"
				placeholder="Full name"
			/>
			<input
				class="rounded-lg bg-gray-200 shadow border py-2 px-4 outline-none focus:ring ring-gray-600"
				type="email"
				name="email"
				placeholder="Email address"
			/>
			<button class="px-12 py-2 rounded-lg bg-purple-900 text-gray-100 font-medium shadow-md focus:ring focus:ring-purple-400 outline-none hover:bg-purple-700">Subscribe</button>
		</form>
	</section>
</main>

{% endblock content %}
