{% load core_tags %}

<div class="card bg-white shadow rounded-lg flex flex-col pb-8 md:mb-0 mb-4 ">
  <div class="card-image">
    <img
      class="w-full rounded-lg rounded-b-none"
      src="{{course.thumbnail.url}}"
      alt="{{course.title}} thumbnail"
    />
  </div>

  <div class="card-body flex flex-col justify-between items-center py-6">
    <div style="align-self: flex-end;"><strong class="px-4" > ${{ course.price}} </strong></div>
    <p class="my-4 mx-8 font-semibold text-lg text-gray-600 uppercase">
      {{ course.title }}
    </p>
    {% call_method user "is_enrolled" course.id as is_enrolled %}
    
    
    <a
      href="{% if is_enrolled %}{{ course.last_lesson.get_absolute_url }}{% else %} {{ course.get_absolute_url }} {% endif %}"
      class="
        px-8
        py-2
        rounded-full
        shadow-md
        focus:ring-2 focus:ring-purple-400
        bg-purple-600
        hover:bg-purple-500
        text-white
        cursor-pointer
        mx-auto
      "
      >{% if is_enrolled %} Resume course {% else %} Learn more <span>&rarr;</span> {% endif %}</a
    >
  </div>
</div>
