{% block styles %}
<style>
	.card_cover {
		background-position: center;
		background-size: cover;
	}
	.cards-card {
		flex-basis: 24%;
		margin-bottom: 8px;
	}
	.cards-card:not(:nth-child(4n + 0)) { margin-right: 8px; }
</style>
{% endblock styles %}

{% if courses %}
<div class="flex flex-wrap -mx-2 mx-auto text-gray-900">
{% for course in courses %}
	<div class="cards-card flex flex-col overflow-hidden rounded-lg bg-white shadow hover:shadow-xl">
		<div class="card_cover h-48 w-full" style="background-image: url('{{ course.image.url }}');"></div>
		<div class="flex-1 py-8 px-6">
			<p class="text-gray-600 font-semibold text-lg hover:underline hover:text-gray-900"><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></p>
			<p class="mb-4">{{ course.short_description }}</p>
			<div class="pt-2 border-t border-gray-100">
				<span class="font-bold"> $ {{ course.price }} </span>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<div class="px-12">
	<p class="mb-4">No courses have been created yet.</p>
	{% include "_primary_btn.html" with value="Go home" as_link=True href="/" %}
</div>
{% endif %}
